<h2>List of Users</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>

  <% @users.sort.each do |user| %>
  <tbody>
    <tr>
      <td><%= link_to user.name, user_path(user), class:"link"%></td>
      <td><%= Vote.where(user_id: user.id).count %></td>
      <td><%= user.date_joined %></td>
    </tr>
  </tbody>
  <% end %>
</table>
