@import "bootstrap";
@import "**/*";

body {
  font-family: "Gudea", sans-serif;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  display: block;
}

.app-header__header h1 a {
  color: #FF5722;

  padding-right: 10px;
  margin-right: 10px;
  border-right: white 2px solid;
  font-size: 35px;
  font-weight: bold;
  font-family: "Gudea", sans-serif;
  text-decoration: none;
}

.app-header__header h1 small {
  color: white;
  font-weight: lighter;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-header__site-nav-container .app-header_nav_item {
  margin-right: 2rem;
}

.nav-link {
  color: #00796B;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}

.app-header__site-nav-container .nav-item :hover {
  color: #00796B;
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}

.btn-tertiary {
  position: absolute;
  bottom: 0;
  background-color: rgb(116, 119, 119);
  color: white;
  border-color: rgb(116, 119, 119)
}

.app-header__user-nav-container .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color:  rgb(27, 110, 102);
  border-color: rgb(34, 96, 155);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #fff;
  background-color: rgb(34, 43, 42);
  border-color: rgb(5, 14, 24);
}

.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active {
  color: #fff;
  background-color: rgb(34, 43, 42);
  border-color: rgb(5, 14, 24);
}

main {
  padding: 2rem;
  display: block;
  font-family: "Gudea", sans-serif;
}