section {
  display: block;
}

h2 {
  color: #26A69A;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
}

h3 {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

a {
  color: #26A69A
}

.works-votes__container {
  margin-top: 2rem;
}
